<div class="sidebar-inner" ng-controller="SidebarController as sidebarCtrl">
    <div class="profile-menu text-center">
        <br/>
        <label>&nbsp;Operation History
            <button class="btn btn-link" ng-click="sidebarCtrl.list()"><i class="glyphicon glyphicon-refresh"></i>
            </button>
        </label>
        <hr style="margin-top: 0px"/>
        <ul class="text-justify">
            <li ng-repeat="history in sidebarCtrl.history track by $index">
                <a href="{{history}}">{{history.split('/#')[1]}}</a>
            </li>
        </ul>
    </div>
</div>
