<div class="modal-header">
    <h4 class="modal-title">Queue Update</h4>
</div>
<div class="modal-body">
    <p>Storage Type: </p>
    <div class="radio m-b-15">
        <label>
            <input type="radio" name="sample" value="">
            <i class="input-helper"></i>
            Memory
        </label>
    </div>

    <div class="radio m-b-15">
        <label>
            <input type="radio" name="sample" value="">
            <i class="input-helper"></i>
            Disk
        </label>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-link" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-success" ng-click="save()">Save changes</button>
</div>
