<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html?b=2'"
        data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html?a=1'"
           data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <section id="content">
        <div class="container">

            <!-- Extra -->
            <div class="block-header">
                <h2>Databases</h2>
            </div>

            <div class="row">
                <div class="col-sm-4" ng-repeat="database in databaseCtrl.databases">
                    <div class="card">
                        <a href="#/databases/{{database.configName}}/queues">
                            <div class="card-header bgm-bluegray m-b-20">
                                <h2>{{database.configName}}</h2>
                                <ul class="actions actions-alt">
                                    <li>
                                        <a href="" ng-click="databaseCtrl.refreshDatabase(database)">
                                            <i class="zmdi zmdi-refresh-alt"></i>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </a>
                        <div class="card-body card-padding">
                            <label>host:</label>{{database.host}}
                            <br/>
                            <label>user:</label>{{database.user}}
                            <br/>
                            <label>database:</label>{{database.database}}
                            <br/>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
</section></div>