<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'"
        data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'"
           data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <section id="content">
        <div class="container">

            <!-- Extra -->
            <div class="block-header">
                <ol class="breadcrumb" style="margin-bottom: 5px;">
                    <li><a href="#/databases">Databases</a></li>
                    <li><a href="#/databases/{{messagesCtrl.database}}/queues">Queues</a></li>
                    <li class="active">{{messagesCtrl.queue}}</li>
                </ol>

                <ul class="actions">
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-trending-up"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-check-all"></i>
                        </a>
                    </li>
                    <li class="dropdown" uib-dropdown>
                        <a href="" uib-dropdown-toggle>
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh</a>
                            </li>
                            <li>
                                <a href="">Manage Widgets</a>
                            </li>
                            <li>
                                <a href="">Widgets Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="table-responsive">
                    <table ng-table="tctrl.tableBasic" class="table table-striped table-vmiddle">
                        <tr ng-repeat="w in messagesCtrl.messages">
                            <td data-title="'ID'">
                                {{ w.id }}
                            </td>
                            <td data-title="'Status'">
                                {{ w.status }}
                            </td>
                            <td data-title="'Data'">
                                {{ w.data }}
                            </td>
                            <td data-title="'Priority'">
                                {{ w.priority }}
                            </td>
                            <td data-title="'DateTime'">
                                {{ w.date_time }}
                            </td>
                            <td data-title="'Created At'">
                                {{ w.created_at }}
                            </td>
                            <td data-title="'Modified At'">
                                {{ w.modified_at }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </section>
</section></div>